h1.header { title || 'Projects' }

.projects.panel.panel-default(each="{ project in projects }")
  .panel-heading
    h1.panel-title
      a.title.ellipsed(href="/projects/{ project.id }") { project.title }
      .author
        span by&nbsp;
        span.ellipsed(if="{ parent.opts.authorID }")
          img.avatar(src="{ project.author.imageUrl }")
          span { project.author.name }
        a.ellipsed(if="{ !parent.opts.authorID }" href="/users/{ project.author.id }")
          img.avatar(src="{ project.author.imageUrl }")
          span { project.author.name }
      .category
        | in
        span.with-icon(if="{ parent.opts.categoryName }")
          i(class="{ project.category.icon }")
          span { project.category.name }
        a.link.with-icon(if="{ !parent.opts.categoryName }" href="/categories/{ project.category.normalizedName }")
          i(class="{ project.category.icon }")
          span { project.category.name }


      .social
        .comments.with-icon(class="{commented: project.commented}")
          i.fa.fa-comment-o(if="{ !project.commented }")
          i.fa.fa-comment(if="{ project.commented }")
          span { project.commentsCount }
        .stars.with-icon(class="{starred: project.starred}")
          i.fa.fa-star-o(if="{ !project.starred }")
          i.fa.fa-star(if="{ project.starred }")
          span { project.starsCount }
  .panel-body
    markdown.small(content="{ project }" key="description" limit="{ 300 }")

    .view-more.pull-right
      a(href="/projects/{ project.id }") View more >>

.no-projects(if="{ !loading && projects.length === 0 }")
  span No projects
  span(if="{ opts.categoryName && title }") &nbsp; in { title.split(' ')[2] }
  span(if="{ opts.q }") &nbsp; found for search "{ opts.q }"
  a.back(href="/" if="{ !opts.top }") Back to top

infinite-scroll(on-infinite="{ loadProjects }" auto-load="{ true }")
