.projects
  .panel-title
    font-size 2em
    .title
      max-width 100%
      color #009688
    .author
      max-width 100%
      display inline-block
      margin-left 10px
      font-size 0.7em
    .category
      display inline-block
      margin-left 10px
      padding 2px
      font-size 0.5em
      border-radius 10px
      i
        margin 0 5px

  .view-more
    font-size 1.2em
    margin-right 2em

.no-projects
  font-size 1.3em
  text-align center
  margin-top 50px
  .back
    display block
    margin-top 30px
