form.form-horizontal(onsubmit="{ processForm }")
  fieldset
    legend
      | { texts[currentMode].label }
      button.btn.btn-primary.signup.pull-right(type="button" onclick="{ changeMode }")
        | { texts[currentMode].link }
    .errors.text-danger(if="{ hasError('global') }") { getError('global') }

    form-row(if="{ currentMode === 'signup' }" field="name" label="Name" type="text")
    form-row(field="email" label="Email" type="email")
    form-row(field="password" label="Password" type="password")

    .form-group
      .col-md-3.pull-right
        button.btn.btn-primary(onclick="{ processForm }")
          | { texts[currentMode].label }
          .ripple-container
