users-login
  .facebook-login
    margin auto
    width 80%

    .btn.btn-facebook:not(.btn-raised)
      background-color #3b5998
      color #fff
      border-color rgba(0, 0, 0, 2)
      &:hover, &:focus
        background-color darken(#3b5998, 20%)
      @media screen and (max-width: $sm-max-width)
        font-size 0.8em
  .spinner
    svg
      margin -0.8em 0 -0.8em 0
