.with-icon
  &.primary-color
    color primary-color
  &.link
    text-decoration none
    &:hover
      opacity 0.8
  .icon
    font-size 1.3em
    margin-right 8px
    vertical-align middle
  span
    vertical-align middle

.btn.spin
  padding-top 0
  padding-bottom 0
  max-height 36px

.ellipsed
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  max-width 100%
a.ellipsed, span.ellipsed
  display inline-block
  vertical-align middle

.header
  text-align center
  color #333333
  font-size 42px
  min-height 46px
  margin-bottom 30px
  @media screen and (max-width: $sm-max-width)
    margin-bottom 15px
    margin-top 15px

.sub-header
  text-align center
  font-size 20px
  margin-top 0

.avatar
  max-height 32px
  border-radius 16px
  margin-right 10px

.stars
  absolute bottom right
  font-size 0.6em
  vertical-align middle
  i
    vertical-align middle
    margin-right 3px
  &.starred
    i
      color $star-color
