nav.navbar.navbar-default
  .container
    .navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#cs-navbar")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/")
        | Projare
        .ripple-container
    #cs-navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class="{active: path === '/'}")
          a(href="/") Home
        li(class="{active: path === '/categories'}")
          a(href="/categories") Categories
      form.navbar-form.navbar-left(role="search" onsubmit="{ searchProject }")
        .form-group
          input.form-control.col-sm-8(name="search" type="text" placeholder="Search")
          span.material-input
      ul.nav.navbar-nav.navbar-right
        li.dropdown(if="{ userService.isLoggedIn() }")
          a.dropdown-toggle.personal-menu(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
            img.avatar(riot-src="{ userService.currentUser.imageUrl }")
            | { userService.currentUser.name }
            span.caret
          ul.dropdown-menu
            li
              a.with-icon(href="/projects/new")
                i.icon.fa.fa-plus-circle
                | Create project
            li
              a.with-icon(href="/projects/my")
                i.icon.fa.fa-file-text
                | My projects
            li.divider(role="separator")
            li
              a.with-icon(href="javascript:void(0)" onclick="{ logout }")
                i.icon.fa.fa-sign-out
                | Logout
              
        li(if="{ !userService.isLoggedIn() }")
          a.login.with-icon(href="javascript:void(0)" onclick="{ login }")
            i.icon.fa.fa-sign-in.fa-2x
            | Login or sign up

utils-modal(name="loginModal" close-button="{ true }")
  #{'yield'}(to="body")
    users-login(on-login="{ parent.onLogin }")
