.projects-show
  .header
    margin-bottom 10px
  .discret-links
    a
      text-decoration none
      &:hover
        opacity 0.8
  .sub-header
    vertical-align middle
  .avatar
    margin-left 10px
  .url
    font-size 0.8em
    font-family monospace
    margin-bottom 1em
  .category
    font-size 0.8em
    margin 0.8em 0
